/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.3rem;
}

ul li {
  list-style: none;
}

.debug {
  background-color: rgba(255, 0, 0, 0.25);
}

/* i {
  font-size: 1rem;
} */

/* general */

body{
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
}

.container{
  margin: 0 auto;
}

.widht-70{
  width: 70vw;
}

.margin-t-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-t-40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.block {
  display: block;
}

.white{
  color: white;
}

.flex {
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-align-item-center{
  align-items: center;
}

.bottone-blu{
  background-color: rgb(0, 97, 255);
  color: white;
  padding: 5px 20px;
  text-align: center;
}
.bottone-bianco{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 5px 20px;
  text-align: center;
}

/* header  */

header{
  background-color: rgb(250, 250, 250);
  width: 100%;
  min-width: 1050px;
  height: 70px;
  position: fixed;
  margin: -70px auto;
  z-index: 999;
}

header div>a,
header div>img{
  margin: 0 15px;
  color: black;
}

.icon{
  height: 20px;
}

/* main  */

.jumbotron{
  background-color: rgb(180, 208, 231);
  margin-top: 70px;
}

.jumbotron h1{
  font-size: 4rem;
}

.jumbotron .container{
  position: relative;
  width: 90vw;
  max-width: 1200px;
  height: 600px;
  padding-top: 40px;
}

.jumbotron .container div{
  margin-top: 30px;
}

.jumbotron .container div .row{
  width: 30%;

}

.jumbotron .container div .row a{
  margin: 20px 0px 0px 0px;
}

.jumbotron .container div .row .bottone-blu{
  width: 235px;
  text-align: center;
  padding: 10px 0px;
}

.jumbotron .container div .row .icon{
  font-size: 2.5rem;
  width: 25px;
  height: 35px;
}

.jumbotron .container .image img{
width: 100%;
height: auto;
}
.image{
  width: 70%;
  max-width: 760px ;
  min-width: 590px;
}

/* main  */
/* buy  */

.buy{
  margin-top: 160px;
  width: 70%;
}

.buy h2 {
  padding-bottom: 40px;
}

.buy span{
  padding-right: 20px;
}


.buy .flex {
  margin-top: 30px;
}

.buy-item{
  width: calc(90% /3);
  height: 750px;
  border: 1px solid lightgrey;

}

.buy-item .container{
  padding: 0 20px;
  font-size: 0.7rem;

}

.buy-item .type,
.buy-item-bottom .type  {
  text-align: center;
  padding: 10px 0px;
  border:  1px solid lightgrey;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;

}

.buy-item .container .title h4{
  margin: 10px 0px;
  font-size: 1.2rem;
}

.separator{
  border-bottom: 1px solid lightgrey;
  width: 50px;
  height: 2px;
  margin-bottom: 30px;
}

.punti-salienti h5{
  margin-bottom: 15px;
}

.punti-salienti ul li::before{
  content: "\2714";
  color: blue;

}

.buy-item-bottom{
  margin-top: 40px;
  width: 100%;
  border:  1px solid lightgrey;

}

.buy-item-bottom .container{
  padding: 0px 40px;

}

.buy-item-bottom .container .flex .title {
  width: 70%;
}

.buy-item-bottom .container .flex .title p{
  font-size: 0.8rem;
}

.buy-item-bottom .container .flex .contact {
  width: 30%;
  height: 32px;
}

.buy-item-bottom .container .flex .contact .bottone-blu{
  width: 100%;
}

/* partner  */

.partner{
  margin-top: 100px;

}

.partner-item{
  width: calc(70vw / 2);
  height: calc(70vw / 2);  
}

.partner-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

.partner-item.text{
  padding: 30px;
  padding-top: 60px;

}
/* operation */

.operations {
  margin-top: 60px;
}
.operations h2{
  margin-bottom: 30px;
}

.operations-item{
  width: calc(100% /3);
  text-align: justify;
}

.operations-item img{
  width: 100%;
  height: auto;
}

.operations-item h4 {
  line-height: 28px;
  text-align: left;
  padding: 10px;
}

.operations-item p {
  padding: 10px;
}

/* business  */

.business {
  margin-top: 60px;

}

.business-top{
  margin-top: 40px;
  width: 100vw;
  justify-content: space-between;
}

.row-link{
  width: 30vw;
  height: 30vw;
  flex-shrink: none;
  border: 1px solid red;
}

.row-link a {
  width: 50%;
  height: 50%;
  border: 1px solid white;
  text-align: center;
  justify-content: center;
}

.row-link img{
  width: 70%;
  height: auto;

}

#bk-green{
  background-color: rgb(162, 211, 155);
}
#bk-red1{
  background-color: rgb(97, 8, 43);
}
#bk-blu1{
  background-color: rgb(0, 147, 206);
}
#bk-red{
  background-color: rgb(0, 147, 206);
}

.row-center{
  width: 40vw;
  height: 30vw;
  overflow-y: scroll;
  border: 1px solid black;
}

.business-bottom {
  padding: 50px 0;
}

.business-bottom .container h3 {
  display: inline;
}

/* faq */

.faq{
  margin-top: 60px;
}

/* footer  */

footer{
  background-color: rgb(107, 107, 107);
  margin-top: 60px;
  padding: 60px 0;
}

footer .container{
  /* margin: 40px auto; */
  width: 80%;
  height: 300px;

}

.footer-item{
  width: 25%;
  height: 300px;
  border: solid 1px white;

}